/* Estilo para la barra de navegacion */

.navbar {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.nav-link {
    color: #000000;
    transition: color 0.1s ease-in;
}

.nav-link:hover {
    color: #dfcccc;
}

.search-wrapper {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .search-form {
    display: flex;
  }
  
  .custom-input {
    border-radius: 50px;
    padding: 0.4rem 1rem;
    width: 200px;
  }
  
  .btn-custom {
    border-radius: 50px;
    padding: 0.4rem 1rem;
    background-color: #465564;
    color: white;
    border: none;
  }
  
  .btn-custom:hover {
    background-color: #2f3b49;
  }

  .carrito-tooltip {
    position: absolute;
    top: 40px; /* ahora aparece debajo del ícono */
    right: 0;
    background-color: #868583;
    color: #212529;
    padding: 6px 12px;
    border-radius: 2px;
    font-size: 0.85rem;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
    transform: translateY(-10px); /* animación inicial: desde arriba hacia abajo */
    pointer-events: none;
    z-index: 10;
  }
  .carrito-tooltip.show {
    opacity: 1;
    transform: translateY(0); /* movimiento hacia abajo */
  }
  
  .dropdown-menu-responsive {
    min-width: 200px;
    max-width: 280px;
    margin: 0 auto;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
  }
  
  @media (max-width: 991.98px) {
  .navbar-collapse-right {
    justify-content: flex-end !important;
    text-align: right;
  }
  .navbar-collapse-right .navbar-nav {
    align-items: flex-end;
  }
}
  
  */
  
/* Footer */

  .footer {
    background-color: #f8f9fa;
    font-size: 0.9rem;
  }
  
  .footer-link {
    color: #6c757d;
    text-decoration: none;
    font-size: 0.85rem;
  }
  
  .footer-link:hover {
    text-decoration: underline;
    color: #343a40;
  }

  /* Links secundarios */

  .navbar-link-secondary {
    padding-top: -6px;
    font-size: 0.75rem;
    opacity: 0.8;  
    transition: color 0.3s ease, opacity 0.3s ease;
    margin-top: 4px;
  }
  
  .navbar-link-secondary:hover {
    color: #222;  
    opacity: 1; 
  }
  
 /* Cuando la pantalla sea pequeña */
/* Para pantallas grandes (más anchas) */

*/
.product-img {
  max-height: 450px; /* Limita la altura de la imagen */
  width: auto; /* Mantiene la proporción de la imagen */
  object-fit: contain; /* Ajusta la imagen sin recortarla */
}




/* Estilos para la pagina de contacto */

/* Fondo general */
.contacto-page {
  background-color: #fefefe;
}

/* Animaciones suaves */
.fade-in {
  opacity: 0;
  transform: translateY(30px);
  animation: fadeInUp 1s forwards;
}

.fade-in.delay-1 { animation-delay: 0.2s; }
.fade-in.delay-2 { animation-delay: 0.4s; }

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Bordes menos redondeados */
.contacto-page .border {
  border-radius: 6px;
}

/* Inputs y selects */
.contacto-page input,
.contacto-page textarea,
.contacto-page select {
  background-color: #fff;
  border: 1px solid #ced4da;
  padding: 0.75rem;
  font-size: 1rem;
  border-radius: 4px;
}

.contacto-page input:focus,
.contacto-page textarea:focus,
.contacto-page select:focus {
  border-color: #999;
  box-shadow: 0 0 0 0.2rem rgba(180, 180, 180, 0.25);
}

/* Botón */
.contacto-page button {
  padding: 0.75rem 1.5rem;
  font-weight: 500;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.contacto-page button:hover {
  background-color: #f1f1f1;
  color: #000;
}

/* Textos */
.contacto-page h4, .contacto-page p, .contacto-page label {
  color: #555;
}


/* Estilo para la pagina de contacto */

.quienes-somos-page {
  background-color: #fefefe;
}

/* Animaciones */
.fade-in {
  opacity: 0;
  transform: translateY(30px);
  animation: fadeInUp 1s forwards;
}

.fade-in.delay-1 { animation-delay: 0.2s; }
.fade-in.delay-2 { animation-delay: 0.4s; }
.fade-in.delay-3 { animation-delay: 0.6s; }

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Textos */
.quienes-somos-page h4, .quienes-somos-page p, .quienes-somos-page ul {
  color: #555;
}

.quienes-somos-page ul {
  padding-left: 1.5rem;
}

/* Imagen redonda fundadora */
.quienes-somos-page .rounded-circle {
  border: 4px solid #fff;
}


/* Estilo para la pagina de comercializacion */

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInMove 1s ease forwards;
}

.fade-in.delay-1 { animation-delay: 0.2s; }
.fade-in.delay-2 { animation-delay: 0.4s; }
.fade-in.delay-3 { animation-delay: 0.6s; }

@keyframes fadeInMove {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.comercializacion-page .card {
  border-radius: 1rem;
  transition: transform 0.3s ease;
}

.comercializacion-page .card:hover {
  transform: translateY(-5px);
}

h2 {
  font-weight: bold;
  color: #333;
}

.comercializacion-page a {
    color: #333; /* gris oscuro */
    text-decoration: none;
    transition: color 0.3s ease, text-decoration 0.3s ease;
  }

  .comercializacion-page a:hover {
    color: #666; /* gris más claro */
    text-decoration: underline;
  }


/* Estilo para pagina de terminos y uso */

.terminos-container {
  width: 100%;
  max-width: 1200px;
  margin-left: 0;
  padding: 60px 40px;
  font-size: 0.9rem;
  color: #555;
  text-align: left;
}

.terminos-title {
  font-size: 2rem;
  margin-bottom: 2.5rem;
  color: #333;
}

.terminos-section {
  margin-bottom: 2.5rem;
}

.terminos-section h2 {
  font-size: 1.3rem;
  margin-bottom: 1rem;
  color: #444;
}

.terminos-section h3 {
  font-size: 1.3rem;
  margin-bottom: 1rem;
  color: #444;
}

.terminos-section p, 
.terminos-section ul {
  margin-bottom: 1rem;
  line-height: 1.6;
}

.terminos-section ul {
  padding-left: 1.5rem;
}

.terminos-section ul li {
  margin-bottom: 0.7rem;
  list-style: disc;
}

/* Estilo para las paginas del catalogo */

.product-card {
  perspective: 1000px;
  height: 400px;
  position: relative;
  overflow: hidden;
  border: none;
}

.product-card .card-front,
.product-card .card-back {
  transition: transform 0.8s;
  backface-visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 8px;
}

.product-card .card-front {
  z-index: 2;
}

.product-card .card-front img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.product-card .card-back {
  background: rgba(245, 245, 245, 0.95);
  transform: rotateY(180deg);
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.product-card .background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.15;
  background-size: cover;
  background-position: center;
  filter: grayscale(100%);
  z-index: 0;
  border-radius: 8px;
}

.product-card:hover .card-front {
  transform: rotateY(180deg);
}

.product-card:hover .card-back {
  transform: rotateY(360deg);
}

.product-card .card-body {
  z-index: 1;
}

.add-to-cart-link {
  display: block;
  margin-top: 20px;
  color: #888;
  font-size: 0.85rem;
  text-decoration: none;
}

.add-to-cart-link:hover {
  text-decoration: underline;
  color: #666;
}

.card-price {
  font-size: 1.8rem;
  font-weight: 600;
  color: #555;
  margin-top: 10px;
  margin-bottom: 5px;
  letter-spacing: 0.5px;
}

/* Estilo para la página de login */

.login-page {
  min-height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
}

.login-card {
  width: 100%;
  max-width: 400px;
  padding: 3rem;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
  border: 1px solid #e0e0e0;
}

.login-card h3 {
  padding-bottom: 2rem;
  font-weight: 400;
  color: #222;
  margin-bottom: 3rem;
  text-align: center;
}

.login-card .form-label {
  color: #666;
  font-weight: 300;
}

.login-card .form-control {
  border: none;
  border-bottom: 2px solid #ccc;
  border-radius: 0;
  background-color: transparent;
  transition: border-color 0.3s;
  box-shadow: none;
  padding-left: 0;
  padding-right: 0;
}

.login-card .form-control:focus {
  border-bottom: 2px solid #000;
  background-color: transparent;
  box-shadow: none;
}

.login-card button {
  background-color: #ebe6e6be;
  color: #726d6d;
  border-radius: 18px;
  font-size: 0.8rem;
  font-weight: 300; /* Cambiado a fuente más fina */
  border: 1px solid #000;
  padding: 0.3rem 1.3rem;
  transition: background-color 0.3s ease;
}

.login-card button:hover {
  background-color: #9b8f8f;
}

.login-card .text-muted {
  color: #999 !important;
}

.login-card a {
  color: #000;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

/* Estilo para boton de volver */

.back-btn {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  color: #868181;
  transition: color 0.3s ease, color 0.3s ease;
}

.back-btn:hover {
  color: #000000;
}

.login-card button:focus {
  box-shadow: none !important;
  outline: none !important;
}