<!DOCTYPE html>  
<html>  
<head>  
    <title>Ejemplo 21</title> 
    <meta name="viewport" content="width=device-width, initial-scale=1,  
    shrink-to-fit=no"> 

    <link rel="stylesheet" href="assets/css/miestilo.css">
</head>
<body>  
    <h1>Bienvenidos a Tallasdasder de Programación I</h1>  
    <div class = "d"> 
        <h2> Ejemppplo de div y span </h2> 
        <p>
            Esto es un párrafo dentro de un div,  
            <span> y esto un span dentro de un 
            párrafo.</span> 
        </p> 
    </div> 
</body>  
</html>  